<div class="container">
  <div class="row justify-between">
    <input
      type="text"
      data-testid="todoNameInput"
      placeholder="Название задачи"
      [(ngModel)]="todoName"
    />
    <button data-testid="addTodoButton" (click)="addTodo()">Добавить</button>
  </div>

  @for (item of todos; track $index) {
  <div class="row gap-sm justify-between" attr.data-testid="todo-{{ item.id }}">
    <div class="row">
      <b>{{ item.id }}</b>
      <span>{{ item.name }}</span>
    </div>
    <button (click)="remove(item.id)">Удалить</button>
  </div>
  }
</div>
